// Custom styles.

.main {
    padding-bottom: 280px;
}

#footer {
    background: url(../images/bottom-text.png) no-repeat center 40px;
    background-color: #1A1A1A;
    color: #AAAAAA;
    font-size: .8em;
    line-height: 1.8em;
    letter-spacing: 1px;
    padding: 90px 0 40px;
    text-align: center;
}

.footer-inner{
    text-align: center;
}